<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <div class="form-inline">
        <input class="form-control mr-sm-2" id="search" type="search" placeholder="Search in sub-tit + Intro" aria-label="Search">
    </div>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="/scraping/paramotrek">View Json Scriping</a>
        </li>
    </ul>
</nav>